<!DOCTYPE html>
<html lang="en" style="margin: 0; height: 100%">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title><%= htmlWebpackPlugin.options.title %></title>
    <meta
            name="viewport"
            content="width=device-width,  initial-scale=1, user-scalable=1, maximum-scale=1, minimum-scale=1"
    >
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="manifest" href="manifest.json">
</head>
<body style="margin: 0; min-height: 100%">
<div id="root"/>
<script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- Google Analytics -->
    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        window.ga_debug = {trace: true};
        ga('create', 'UA-68834904-1', 'auto');
        ga('send', 'pageview');
        window.onerror = function(message, file, line) {
            ga('send', 'exception', {
                'exDescription': 'An error occured at line ' + line + ' of ' + file + ': ' + message,
                'exFatal': false
            });
        };
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
</body>
</html>